In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = "C:/Users/yasin/Desktop/car_evaluation.csv"
df = pd.read_csv(data, header=None)
df.shape

(1728, 7)

In [3]:
col_names = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"]
df.columns = col_names
col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [5]:
col_names = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"]

for col in col_names:
    print(df[col].value_counts())

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64
vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64
2        432
3        432
4        432
5more    432
Name: doors, dtype: int64
2       576
4       576
more    576
Name: persons, dtype: int64
small    576
med      576
big      576
Name: lug_boot, dtype: int64
low     576
med     576
high    576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [6]:
df["class"].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [7]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [8]:
x = df.drop(["class"], axis=1)
y= df["class"]

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.33, random_state=42)

In [10]:
x_train.shape , x_test.shape
x_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object

In [11]:
x_train.head()

     buying  maint  doors persons lug_boot safety
48    vhigh  vhigh      3    more      med    low
468    high  vhigh      3       4    small    low
155   vhigh   high      3    more    small   high
1721    low    low  5more    more    small   high
1208    med    low      2    more    small   high

In [14]:
pip install category_encoders

Collecting category_encodersNote: you may need to restart the kernel to use updated packages.

  Downloading category_encoders-2.6.1-py2.py3-none-any.whl (81 kB)
Requirement already satisfied: pandas>=1.0.5 in c:\users\yasin\anaconda3\lib\site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\yasin\anaconda3\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\yasin\anaconda3\lib\site-packages (from category_encoders) (1.7.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\yasin\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\yasin\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\yasin\anaconda3\lib\site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yasin\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yasin\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.3)
Requirement already satisfied: six in c:\users\yasin\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in c:\users\yasin\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\yasin\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\yasin\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\yasin\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.4)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.6.1

In [15]:
import category_encoders as ce

In [16]:
encoder = ce.OrdinalEncoder(cols=["buying", "maint", "doors", "persons", "lug_boot", "safety"])

x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [17]:
x_train.head()

      buying  maint  doors  persons  lug_boot  safety
48         1      1      1        1         1       1
468        2      1      1        2         2       1
155        1      2      1        1         2       2
1721       3      3      2        1         2       2
1208       4      3      3        1         2       2

In [18]:
x_test.head()

      buying  maint  doors  persons  lug_boot  safety
599        2      2      4        3         1       2
1201       4      3      3        2         1       3
628        2      2      2        3         3       3
1498       3      2      2        2         1       3
1263       4      3      4        1         1       1

In [19]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=10, random_state=0)
rfc.fit(x_train,y_train)
y_pred= rfc.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score
print("model accry score w 10 dt: {0:0.4f}".format(accuracy_score(y_test, y_pred)))

model accry score w 10 dt: 0.9247

In [21]:
rfc_100 = RandomForestClassifier(n_estimators=100, random_state=0) 
rfc_100.fit(x_train,y_train)
y_pred_100= rfc_100.predict(x_test)

print("model accuracy score with 100 dt : {0:0.4f}".format(accuracy_score(y_test, y_pred_100)))

model accuracy score with 100 dt : 0.9457